**/*.pyc

# Distribution / packaging
*.egg-info/
.eggs/
build/
dist/

# Unit test / coverage reports
.cache
.coverage
coverage.xml
htmlcov/

# Build-generated gNOI modules
sonic_grpc/gnoi/*_pb2.py
sonic_grpc/gnoi/*_pb2_grpc.py
.pytest_cache/
