Source: sonic-platform-aspeed-nokia
Section: misc
Priority: optional
Maintainer: Nokia <natarajan.subbiramani@nokia.com>
Build-Depends: debhelper-compat (= 13), dh-python, python3-all, python3-setuptools, python3-wheel
Standards-Version: 3.9.6

Package: sonic-platform-aspeed-nokia-h6-128
Architecture: arm64
Depends: ${misc:Depends}, ${python3:Depends}, jq
Description: SONiC platform support for Nokia H6-128 AST2700 BMC
 Support package for Nokia H6-128 BMC AST2720 platform
